@media (min-width:768px) {
    .container-fluid{
        padding: 0px 50px;
    }
    .padd-5{
        padding: 0px 5px;
    }
    .row-5{
        margin: 0px -5px;
    }
    .padd-2-5{
        padding: 0px 2.5px;
    }
    .row-2-5{
        margin: 0px -2.5px;
    }
}

.banner-top{
    padding-top: 50px;  
    .box-banner-top{
        position: relative; 
        img.banner-img{
            width: 100%;
            min-height: 418px;
        }
        .content-top{
            position: absolute;
            bottom: 0px;
            left: 0px;
            display:flex;
            .avata{
                margin-right: 25px;
            }
            .text-top{
                h1{
                    font-family: var(--font-sub);
                    font-size: 60px;
                    color: var(--color-white);
                    margin-bottom: 10px;
                }
                p{
                    font-family: var(--font-sub);
                    color: var(--color-white);
                }
            }
            
        }
    }
    @media(min-width:768px) and (max-width:991px){
        padding-top:15px;
        .box-banner-top{
            img.banner-img{
                max-width: 100%;
                object-fit: cover;
            } 
            .content-top{
                bottom: 20px;  
                .text-top{
                    padding: 0px 15px;
                    h1{
                        font-size: 35px;
                        margin-top: 10px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        } 
    }
    @media(max-width:767px) {
        padding-top:15px;
        .box-banner-top{
            img.banner-img{
                max-width: 100%;
                object-fit: cover;
            } 
            .content-top{
                bottom: 30px;
                display: flex;
                flex-direction: column;
                text-align: center;
                .avata{
                    margin-right: 0px;
                    img{
                        max-width: 100px;
                        height: auto; 
                    }
                }
                .text-top{
                    padding: 0px 15px;
                    h1{
                        font-size: 35px;
                        margin-top: 10px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        } 
    }
}
.line-row{
    margin-bottom:25px;
    margin-top: 35px;
    width: 100%; 
    height:3px;
    background:#313132;
}
.title-home{
    font-family: var(--font-sub);
    font-size: 20px;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 8px;
}
.classify{
    .blog-4, .blog-3{
        .box-blog{
            position: relative;
            margin-bottom: 10px; 
            img{
               width: 100%; 
            }
            .text-blog{
                font-family: var(--font-sub);
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 0px;
                padding: 10px; 
                background-color: rgba(36, 37, 40, 0.6);
                color: var(--color-white);
                a{
                    color: var(--color-white); 
                    margin-left:5px; 
                    font-size: 14px;
                }
            }
        }
    } 
    @media (max-width:767px) {
        .box-blog{
            img{
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}
.partner{ 
    .content-partner{ 
        position: relative; 
        img{
            height:320px; 
            width: 100%;
            object-fit: cover;
        }
        .text-partner{
            position: absolute;
            top: 15px;
            left: 15px;
            width: 70%;
            background-color: rgba(36, 37, 40, 0.6);
            padding: 5px 7px;
            a{
                color: var(--color-white);
                text-transform: uppercase;

            }
            @media(max-width:991px) {
                width: calc(100% - 30px);
            }
        }
    }
}
.product-home{
    .box-product{
        position: relative;
        margin-bottom: 5px;
        img{
            width: 100%;
            height: 310px;
            object-fit: cover;
        }
        .name-product{
            position: absolute;
            bottom: 0px;
            padding: 10px;
            background-color: rgba(36, 37, 40, 0.6);
            width: 100%;
            display:flex;
            color: var(--color-white);
            font-size: 15px;
            justify-content: center;
            align-items: center; 
            line-height: 18px;
            a{
                display: inline-flex;
                margin-left: 10px;
                color: var(--color-white);
            }
        }
    }
    .load-more{
        text-align: center;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        &::after{
            position: absolute;
            left:0px;
            top:27px;
            content: "";
            width: 100%;
            height: 3px;
            background: #313132;
            z-index: -1;
        }
        a{
            position: relative;
            display: inline-block;
            padding: 10px;
            width: 250px;
            color: var(--color-white);
            text-transform: uppercase;
            z-index: 11;
            background: #3b3d42;;
        }
    }
}
.box-f{
    margin-bottom: 30px;
    p{
        color:#8F919c;
        font-size: 13px;
    }
}
.search{
    max-width: 320px;
    margin: auto; 
    margin-bottom: 20px;
    .searchTerm{
        color: var(--color-white);
        background-color: #242629;
        border:none;
        width: 200px;
        height: 36px;
        padding: 10px 15px;
        &:focus{
            outline: none;
        }
    }
    .searchButton{
        border: none;
        height: 36px;
        background-color: #242629; 
        padding: 5px 15px;
        color:#8F919c;
    }
}
footer{
    text-align: center;
    .social{
        display: flex; 
        justify-content: center;
        margin-bottom: 30px;
        li{ 
            display: inline-flex;
            width: 36px;
            height: 36px;
            background-color: var(--color-white); 
            margin-left: 15px;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            &:first-child{
                margin-left:0px;
            }
            a{
                color: #1f1f21;
                font-size: 16px; 
            } 
        }
    }
}
